# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Package distribution
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/
*.swp

# Miscellaneous
*.log
*.pot
*.pyc
*.pdb
*.db

# Database files
*.sqlite3

# Test results
coverage.xml
*.cover
*.coverage
nosetests.xml
test_*.xml
